html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(21, 16, 25, 0.945);
}

.bg {
    position: fixed;
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    vertical-align: middle; 
    overflow: hidden;
    background: url(bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@media all and (orientation: portrait) {
    .bg {
        bottom: 30%;
    }
}
